# Object file
*.o

# Ada Library Information
*.ali

Prototype1/Saved/Backup/
Prototype1/Saved/Cooked/
Prototype1/Saved/StagedBuilds/
Prototype1/Saved/Temp/
Prototype1/Saved/Config/CrashReportClient/UE4CC-Windows-FC8EDAA74982449E0B3167AECBC3FA25/CrashReportClient.ini

Prototype1/Saved/Logs/Prototype1-backup-2021.01.22-02.49.27.log
